@font-face {
    font-family: 'SuisseIntlRegular';
    src: url('./SuisseIntl-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SuisseIntlLight';
    src: url('./SuisseIntl-Light.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'SuisseIntlRegular', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    
}

.page1{
    height: 90vh;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    
}

.page1-content{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vw;
   
    z-index: 10;
    
}


.mousemover{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #FF5F38;
    position: fixed;
    display: none;
   
    z-index: -5;
    transform: translate(-50%, -50%);
    
   
    

}


.playreel h4{
    color: rgb(148, 148, 148);
    font-size: 1.2vw;
    font-weight: 100;
    position: fixed;
    z-index: 1;
    display: none;
    

}


nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     /* background-color: blueviolet; */
     padding: 2vw 2vw;
     color: white;
     /* position: fixed  ; */
   
     
}
nav ul {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1vw;

}
nav  ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    position: relative;
    font-weight: 100;
     
}
nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0 ;
    width: 100%;
    height: 2px;
    background-color: white;
    transform:  scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
nav h3 {
    font-size: 0.9vw;
    font-weight: 700;
    
}
nav h4 {
    font-size: 0.9vw;
    font-weight: 500;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}


nav h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin:left;
    transition: transform 0.3s ease;

} 
nav h4:hover::after {
    transform: scaleX(1);
   
}

.page1-content h1{
    color: white;
    font-size: 19vw;
    position: relative;
    /* bottom: 8vw; */
    top: 1vw;
    font-family: 'SuisseIntlRegular';
    
   
    
    
}


.page1-content-para {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 75vw;
    color: white;
    font-size: 1vw;
    font-weight: 100;
    position: relative;
    z-index: 1;
}
.page2{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.page2-content {
    width: 100%;
    height: 100vh;
    position: relative;
    
    
}

.page2-content h3{
    font-size: 4vw;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1 ;
    overflow: hidden;
    

}

.page2-content h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
   
    background-color: white;
    height: 3px;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.page2-content h3:hover::after {
    transform: scale(1);
    transform-origin: left;
}
.page2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}



.page3{
    width: 100%;
    height: 60vh;
    
}

.page3-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: black;
   
}
.page3-content h3{
    width: 95%;
    font-size: 4vw;
    font-weight: lighter;
    color: white;
    
    font-family:SuisseIntlLight;
    
}
.page3-content h3 span{
    font-size: 4vw; 
    font-weight: lighter;
    /* font-family:SuisseIntlLight; */
    position: relative;
    
}





.page3-content h3 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 95%;
    height: 2px;
    background-color: white;    
    transform: scale(1);
    transform-origin: right;
    transition: transform 0.5s ease;
    
}
.page3-content h3:hover span::after {
    transform: scale(0);
    
}



.page3-content h3 span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 95%;
    height: 2px;
    background-color: white;    
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    
}
.page3-content h3:hover span::before {
    transform: scale(1);
    
}

.main hr {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 2vw;
    opacity: 0.5;
}

.page3-hr{
    width: 90%;
    height: 1px;
    background-color: white;
    margin-top: 2vw;
    opacity: 0.5;
    display: flex;

}


.elem{
    overflow: hidden;
    display: inline-block;
}

.page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #000; */
    position: relative;
    padding: 5vw 2vw;
    

}

.page4-heading{
   text-align: center;
   
}
.page4-heading h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
    overflow: hidden;
    
}

.page4-heading h4 span{
    font-size: 1vw;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border-radius:10px;
}

.page4-heading h2{
    font-size: 4vw;
    font-weight: 500;
}



.page4-media-content{
    background-color: blue;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.page4-media-content img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    
}


.page4-img-shadow{
    width: 100%;
    height: 100vh;
    background-color: #00000018;
    position: relative;
   

}

.page4-media-content h4{
    font-size: 2vw;
    font-family:SuisseIntlRegular ;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    position: absolute;
     opacity: 1;
    transition: opacity 0.3s;

}
.page4-media-content:hover h4 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.page4-image-after-content{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
}
.page4-image-after-content video{
    width: 300px;
    height: 400px;
   object-fit: cover;
    opacity: 0;
    position: absolute;
    pointer-events: none;
     transition: opacity 0.6s;
    
    
}

.page4-media-content:hover .page4-image-after-content video {
    opacity: 1;
    
}


.page5{
    min-height: 100vh;
    width: 100%;
    /* background-color: #000; */
    position: relative;
    padding: 0vw 2vw;   
    
    
}

.page5-elements{
    min-height: 100vh;
    width: 100%;
    /* background-color: #000;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5vw 2vw;
}

.page5-elements .box{
    height: 100vh;
    width: 49.5%;
    /* background-color: aqua; */
    overflow: hidden;
    position: relative;
    display:flex ;
    align-items: flex-end;
    justify-content: center;
}


.page5-elements .box img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
    
    
}



.page5-elements .box h4{
    font-size: 2vw;
    font-family:SuisseIntlRegular ;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    position: absolute;
     opacity: 1;
    transition: opacity 0.3s;

}
.page5-elements .box:hover h4 {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}





.page5-image-after-content{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
}
.page5-image-after-content video{
    width: 180px;
    height: 180px;
   object-fit: cover;
    opacity: 0;
    position: absolute;
    pointer-events: none;
     transition: opacity 0.6s;
    
    
}

.page5-media-content:hover .page5-image-after-content video {
    opacity: 1;
    
}


.page5-image-after-content{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
}
.page5-image-after-content video{
    width: 300px;
    height: 400px;
   object-fit: cover;
    opacity: 0;
    position: absolute;
    pointer-events: none;
     transition: opacity 0.6s;
    
    
}

.box:hover .page5-image-after-content video {
    opacity: 1;
    
}









