@font-face {
    font-family: 'SuisseIntlRegular';
    src: url('./SuisseIntl-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SuisseIntlLight';
    src: url('./SuisseIntl-Light.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'SuisseIntlRegular', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    
}

.page1{
    height: 90vh;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    
}
.page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.page1-content{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vw;
   
    z-index: 10;
    
}


.mousemover{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-color: #FF5F38;
    position: fixed;
    display: none;
   
    z-index: -5;
    transform: translate(-50%, -50%);
    
   
    

}


.playreel h4{
    color: rgb(148, 148, 148);
    font-size: 1.2vw;
    font-weight: 100;
    position: fixed;
    z-index: 1;
    display: none;
    

}


nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     /* background-color: blueviolet; */
     padding: 2vw 2vw;
     color: white;
     /* position: fixed  ; */
   
     
}
nav ul {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1vw;

}
nav  ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    position: relative;
    font-weight: 100;
     
}
nav ul li a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0 ;
    width: 100%;
    height: 2px;
    background-color: white;
    transform:  scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
nav h3 {
    font-size: 0.9vw;
    font-weight: 700;
    
}
nav h4 {
    font-size: 0.9vw;
    font-weight: 500;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}


nav h4::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin:left;
    transition: transform 0.3s ease;

} 
nav h4:hover::after {
    transform: scaleX(1);
   
}

.page1-content h1{
    color: white;
    font-size: 19vw;
    position: relative;
    /* bottom: 8vw; */
    top: 1vw;
    font-family: 'SuisseIntlRegular';
    
   
    
    
}


.page1-content-para {
display: flex;
    gap: 2vw;
    align-items: flex-start;
    justify-content: flex-start;
margin-right: 75vw;
    color: white;
    font-size: 1vw;
    font-weight: 100;
}


